
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1644329843283-640d00509d43?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  color: gray;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

